{% extends 'layout.njk'%}

{% block title %}
  <title>Rocketseat - Courses</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="content">
    <h1>Our content and courses</h1>
    <section class="courses">

      {% for item in items %}

      <div class="course" id="{{ item.id }}">
      <div class="course-image-container">
        <img src="{{ item.img }}" alt="course {{ item.id }} logo">
      </div>
      <div class="course-tittle">
        <p>{{ item.title }}</p>
      </div>
      <div class="course-modules-quantity">
        <p>{{ item.modulesQuantity }}</p>
      </div>
      <div class="course-price">
        <p>{{ item.price }}</p>
      </div>
    </div>
    
    {% endfor %}
    
    </section>
    <div class="modal-overlay">
      <div class="modal">
         <a class="maximize-modal">
          <i class="material-icons">maximize</i>
        </a>
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script src="/scripts.js"></script>
{% endblock %}