{% extends "layout.njk" %}


{% block content %}

<div class="error-container">
  <div class="error-message">
  <h1 class = 'h1-not-found'>Hey dev, this page could not be found :/</h1>
  <p> If you want to go back pleade clike <a href="/" class="home-button">here!</a></p>
  </div>
</div>

{% endblock %}